.logo_header>p{
    color:rgba(255, 193, 7, 1);
    text-decoration:none;
}

a:hover{
    color:rgb(240, 233, 136);
}
.but:hover{
    color:rgba(255, 193, 7, 1);
}
.remove{
    color:rgb(248, 248, 247);
    background-color: rgb(52, 58, 64);
    border:1px solid rgb(26, 25, 25);
    box-shadow: 5px 5px 2.5px 0 rgb(39, 32, 32);
    border-radius:8px;
    font-size: 12px;
    padding: 5px;
}

.remove:active{
    color:rgb(52, 58, 64);
    background-color: rgba(255, 193, 7, 1);
}

.remove:hover{
    color: rgba(255, 193, 7, 1);
    background-color: rgb(32, 30, 30);
}
body{
    background-color: rgba(255, 193, 7, 1);
}

/* .nav_header{
    width: 100%;
    height: 150px;
    z-index: 1030;
    position: fixed;
} */

.new-task-input{
    margin-bottom: 30px;
}

.task-input{
   border: 1px solid rgba(39, 39, 39, 0.7);

}

.but{
    border: 1px solid rgba(39, 39, 39, 0.7);
}

.logo{
    font-size: 25px;
}

.task-input:active{
    outline: none;
    overflow: hidden;
}

.task{
    width: 15rem;
    margin: 10px;
}

@media (max-width: 992px){
    .task{
        width: 20rem;
    }
}

@media (max-width: 768px){
    .task{
        width: 100%;
    }
}

.action-buttons{
    display: flex;
    justify-content: flex-end;
}

.box{
    border: 1px solid rgba(5, 5, 5, 0.4);
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0  rgba(5, 5, 5, 0.4);
}

.edit>input{
    width: 100%;
    border: 1px solid rgba(20, 20, 20, 0.74);
    border-radius: 5px;
}